.tell-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 350px;
  height: auto;
}
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
button {
  border-radius: 35px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: translate(0.2rem, 0.2rem);
}

p {
  padding: 5px 5px;
  color: rgb(6, 0, 37);
}
