@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 5% 0%;
  font-family: "Press Start 2P", cursive;
  font-size: x-small;
  background: linear-gradient(to left, rgb(7, 1, 34) 0%, rgb(17, 42, 44) 100%);
}
